.section {
    padding: 2rem;
    width: calc(100% - 18rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.breadcrumb {
    color: var(--color);
}
.welcomer {
    color: var(--color);
    font-size: 3rem;
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
}

.bold {
    font-weight: 700;
}

.opp {
    display: flex;
    justify-content: space-between;
    color: var(--color);
}

.opp > div, .opp > p {
    max-width: 40%;
}