.controller {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .AnnoncerTitle {
    font-weight: 700;
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI','Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans','Helvetica Neue', sans-serif;
    background: rgb(146,188,213);
    background: linear-gradient(90deg, rgba(146,188,213,1) 0%, rgba(129,129,228,1) 100%);
    background: linear-gradient(90deg, rgba(146,188,213,1) 0%, rgba(129,129,228,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: block;
    padding: 20px 0;
  }