.main {
    border: 0;
    width: 8rem;
    height: 3rem;
    max-height: 3rem;
    border-radius: 0.25rem;
    cursor: pointer;
    background: var(--block);
    border: 1px solid #363636;
    transition: all 0.1s;
    flex: 1 1;
}
.cta {
    background: #796aff;
    color: #fff;
}
.main:hover.cta {
    background: #5e4dff;
    color: #fff;
}

.main:hover {
    color: #9488ff;
}