.main {
    display: flex;
    align-items: center;
    padding: 0.4rem 0;
}
.main > button {
    max-width: 8rem;
    min-width: 8rem;
}
.main > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}