.main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main > div {
    display: flex;
    align-items: center;
    width: 8rem;
    min-height: calc(var(--height) * 100vh);
    height: calc(var(--height) * 100vh);
    max-height: calc(var(--height) * 100vh);
    flex-direction: column;
}
.main > div:last-of-type {
    justify-content: center;
}
.main > div:last-of-type > div {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}
.main > div:last-of-type > div > p {
    transform: rotate(90deg);
    color: #fff;
    text-align: center;
    gap: 0.5rem;
    display: flex;
}