// WEBSITE THEME
$color-background: #161a1d;
$color-primary: #1d1e24;
$color-base-font: #ecedee;
$color-base-font-variant1: #fff;
$color-accent: #b0a7ff;
$color-accent-variant1: #666193;
$color-accent-variant2: #9488ff;
$color-primary-border: #363636;
$color-primary-activated: #23242c;


// 320px — 480px : les mobiles
// 481px — 768px : iPads, tablettes
// 769px — 1024px : petits écrans, ordinateurs portables
// 1025px — 1200px : ordinateurs de bureau, écrans larges
// 1201px et plus —  écrans extra larges, TV