.section {
    padding: 2rem;
    width: calc(100% - 18rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: scroll;
    max-height: calc(100vh - 4rem);
}
.languages {
    width: 400px;
    height: 200px;
    background: var(--block);
    border-radius: 0.25rem;
}