.markdown-wrapper {
    // background: #1d1e2442;
    background: rgb(57 60 76 / 26%);


    /* background: rgba( 255, 255, 255, 0.25 ); */
    /* box-shadow: 0 8px 32px 0 rgb(176 167 255 / 4%); */
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 0.25rem;
    border: 1px solid rgb(40 46 37 / 33%);
    padding: 2rem;


    h1 {
        font-size: 2.75rem;
        font-weight: 500;
        padding: 1rem 0;
        color: #9083d9;
        border-bottom: 2px solid #2d2d42;

        &:first-of-type {
            padding: 0 0 1rem 0;
        }
    }

    h2 {
        font-size: 2rem;
        padding: 0.8rem 0;
        font-weight: 500;
    }
    a {
        color: #b0ccff;
        text-decoration: none;

        &:hover {
            color: #9083d9;
        }
    }

    table {
        display: block;
        width: 100%;
        width: max-content;
        max-width: 100%;
        overflow: auto;
        margin-top: 0;
        margin-bottom: 16px;
        border-collapse: collapse;
        border-spacing: 0;

        th {
            padding: 6px 13px;
            border: 1px solid $color-base-font;
        }
    }

    img {
        width: 500px;
    }
}