.main {
    display: flex;
}

.main > aside {
    background: $color-primary;
    min-width: 18rem;
    height: 100vh;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo {
    width: 4rem;
    height: 4rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > svg {
    transform: scale(0.5);
    fill: #383838;
}

.wrapperlogo {
    background: $color-accent;
    display: flex;
    align-items: center;
}

.wrapperlogo > p {
    color: #000;
}